<app-navigation>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-table" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let order"> {{order.id}} </td>
          </ng-container>
    
          <ng-container  matColumnDef="orderedBy" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ordered By </th>
            <td mat-cell *matCellDef="let order"> {{order.orderedBy.username}} </td>
          </ng-container>

          <ng-container  matColumnDef="dishes" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dishes </th>
            <td mat-cell *matCellDef="let order"> {{order.dishes}} </td>
          </ng-container>
    
          <ng-container matColumnDef="orderStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let order"> {{order.orderStatus}}</td>
            </ng-container>

            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
              <td mat-cell *matCellDef="let order"> {{order.active}} </td>
            </ng-container>

            
            <ng-container matColumnDef="orderedAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ordered At </th>
                <td mat-cell *matCellDef="let order"> {{order.orderedAt | date:'dd/MM/yyyy HH:mm'}} </td>
              </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let order">
              <button *ngIf="canCancel(order)" mat-raised-button color="primary" (click)="toggleEdit(order)">
                {{'Cancel'}}
              </button>
            </td>
          </ng-container>
    
          <!-- Header and Row Declarations -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <!-- Paginator -->
        <mat-paginator 
          (page)="onPageChange($event)"
          [length]="totalOrders" 
          [pageSizeOptions]="[5, 10, 20]" 
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          showFirstLastButtons>
        </mat-paginator>
    
      </div>
  </app-navigation>
  