<app-navigation>
    <div class="search">
        <div class="form-container">
            <h3>Order</h3>
            <form [formGroup]="createOrderForm" (ngSubmit)="onSubmit()">
                <mat-radio-group formControlName="orderType" class="radio-group" *ngIf=canSchedule()>
                    <mat-radio-button value="immediate">Order Now</mat-radio-button>
                    <mat-radio-button value="scheduled">Schedule for Later</mat-radio-button>
                </mat-radio-group>

                <mat-form-field appearance="fill">
                    <mat-label>Dishes</mat-label>
                    <mat-select formControlName="dishes" multiple required>
                        <mat-option *ngFor="let dish of dishes" [value]="dish"
                            (onSelectionChange)="toggleOnDishSelection(dish)">
                            {{ dish.name }} - {{ dish.price }} din
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="createOrderForm.get('orderType')?.value === 'scheduled'">
                    <mat-form-field appearance="fill">
                        <mat-label>Schedule for</mat-label>
                        <input matInput name="scheduledFor" type="datetime-local" formControlName="scheduledFor">
                        <mat-error *ngIf="getForm().get('scheduledFor')?.hasError('required')">
                            Scheduled time is required
                        </mat-error>
                        
                        <mat-error *ngIf="getForm().get('scheduledFor')?.hasError('invalidDate')">
                            Scheduled time must be in the future
                        </mat-error>

                    </mat-form-field>
                </div>

                <div class="button-group">
                    <button mat-raised-button color="primary" type="submit">Order</button>
                </div>

                <div>
                    <p>Total Price: <strong>{{ totalPrice }} din.</strong></p>
                </div>

            </form>
        </div>
    </div>
</app-navigation>